# Set input data type.
# Two types are supported:
# nt = DNA/RNA
# aa = proteins
# Default: nt
type = nt

# Select compressed amino acid alphabet (valid for proteins only).
# Any alphabet can be defined in the form [group1,group2,...,groupN].
# For example [AGPST,C,DENQ,FWY,HKR,ILMV] defines 6 groups.
# Additionally, two alphabets are predefined:
# A20 = standard amino acids
# Dayhoff6 = 6 groups (see Edgar, NAR 2004; 32(1):380-385)
# Default: A20
sigma = A20

# Use compressed alphabet during validation (valid for proteins only).
# Default: 0
compress = 0

# Select the method to perform validation.
# Currently, six methods are available:
# 0 = kmer fraction
# 1 = CD-HIT identity from global alignment with cost-free end gaps
# 2 = CD-HIT identity from global alignment
# 3 = BLAST identity from global alignment with cost-free end gaps
# 4 = BLAST identity from global alignment
# 5 = BLAST identity from local alignment
# Default: 0
method = 0

# Set the kmer size used during the sketching phase, and during validation
# if the kmer fraction method is selected.
# Default: 16
kmer = 16

# Set affine gap alignment parameters (valid for alignment-based methods only).
# Format used is [match,substitution,gap opening,gap extension],
# or [substitution matrix path,gap opening,gap extension].
# For example, [/scratch/blosum62.txt,-10,-1] will use matrix from
# /scratch/blosum62.txt.
# Default: [1,-2,-10,-1]
gaps = [1,-2,-10,-1]

# Set the threshold value above which canidate pairs are considered valid.
# Default: 75
level = 75

# Enable reporting of intemediate values used to compute the similarity score.
# For kmer fraction reported elements are:
#  [shared kmers, kmers in first sequence, kmers in second sequence]
# For alignment-based methods 1-2:
#  [alignment score, length of shorter sequence, identities]
# For alignment-based methods 3-5:
#  [alignment score, alignment length, identities]
# Default: 0
factor = 0

# Set mod value for the sketching phase.
# Default: 25
modulo = 25

# Set the number of iterations in the sketching phase.
# Default: 7
iterate = 7

# Set the limit to mark frequent kmers.
# Default: 10000
cmax = 10000

# Set the threshold to extract candidate pairs.
# Default: 50
jmin = 50

# Enable work-stealing in the validation phase.
# Default: 1
steal = 1
